:root {
    --warning: #F7FD04;
}

.btn{
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #000000;
    cursor: pointer;
    background-color: var(--warning);
}
.btn:hover{
    padding: 6px 18px;
    transition: all 0.3s ease-out;
    background-color: var(--warning);
    color: #fff;
    border-radius: 20px;
    border: 2px solid var(--warning);
}
